.hero{

  &__wrapper{
    height: 600px;
    background-image: url(../../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 117px 702px 116px 85px;

    &-title{
      margin-bottom: 32px;
      @include text-size(493px, 72px, 72px, #fefcf7,'Fraunces', 900);
    }
    &-text{
      margin-bottom: 56px;
      opacity: 0.8;
      @include text-size(445px, 16px, 26px, #fefcf7, 'Barlow', 400);
    }
    a{
      text-decoration: none;
      background-color: #0e8784;
      @include text-size(155px,18px,25px,#fefcf7,'Fraunces',900);
      border-radius:   6px;
      -webkit-border-radius:   6px;
      -moz-border-radius:   6px;
      -ms-border-radius:   6px;
      -o-border-radius:   6px;
      padding: 15px 31px;

      &:hover{
        background-color: #66d2cf;
      }
      &:active{
        background-color: #e2dedb;
      }
    }
  }
}